$lineColor: #161616;
$fontColor: #f4f4f4;
$yearBgColor: #383838;

$breakpoint: 700px;

:host {
  background: #ebeff2;

  .cont-1 {
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .heading {
      p.name {
        color: #1a3140; // #243a49
        text-shadow: 0px 0px 5px #f4f4f4;
        font-size: 34px;
        font-weight: 600;
      }
    }
  }

  .timeline {
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      border: 1.6px solid $lineColor;
      top: 0;
      right: calc(100% - 15px);
      left: auto;
    }
  }

  .timeline__item {
    padding: 20px;
    background-color: #1a3140;
    position: relative;
    color: #f4f4f4;
    box-shadow: 5px 5px 5px 2px #888888;
    margin: 15px;

    .timeline__item--header {
      display: flex;
      justify-content: space-between;
    }

    .timeline__grades {
      font-weight: 500;
    }

    .timeline__title--university {
      color: #ff7b00;
      font-weight: 500;
      font-size: 16px;
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
    }

    &:before {
      left: -7.5px;
      top: 20px;
      border-style: solid;
      border-color: #1a3140 #1a3140 transparent transparent;
      border-width: 7px;
      transform: rotate(-135deg);
    }
  }

  .timeline__item--year {
    text-align: center;
    max-width: 150px;
    background-color: $yearBgColor;
    padding: 10px;
    font-size: 16px;

    &:before {
      display: none;
    }
  }
}
