@import "./overlay-responsive.styles.scss";

:host {
  background: #1e1e1e;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #262626;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    flex-direction: row;

    .logo-container {
      cursor: pointer;
    }

    .flex-spacer {
      flex: 1 1 auto;
    }

    .responsive-bars {
      display: none;
    }
    ul.to-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px;

      li {
        display: flex;
        padding: 0px 16px; /* stylelint-disable-line length-zero-no-unit */
        margin: 0px;

        p {
          margin-right: 8px;
          margin-top: 16px;
          color: #888;

          &.active {
            color: #ffffff;
          }
        }

        &:hover {
          p {
            cursor: pointer;
            color: #f4f4f4;
          }
        }

        &:focus {
          p {
            cursor: pointer;
            color: #f4f4f4;
          }
        }

        &:active {
          p {
            cursor: pointer;
            color: #f4f4f4;
          }
        }
      }
    }

    @media screen and (max-width: 960px) {
      ul.to-right {
        display: none;
      }

      .responsive-bars {
        display: initial;
        cursor: pointer;
      }
    }
  }
}
