<div class="cont-1">
  <div class="container">
    <p>&copy; Shantanu Joshi</p>
    <span class="flex-spacer"></span>
    <a href="https://github.com/shan7030" alt="Github" target="_blank"
      ><img
        src="../../assets/github-square-brands.svg"
        alt="Github"
        height="30px"
        width="30px"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/shantanumilindjoshi/"
      alt="Linkedin"
      target="_blank"
      ><img
        src="../../assets/linkedin-brands.svg"
        alt="Linkedin"
        height="30px"
        width="30px"
    /></a>
    <a href="mailto: shantanujoshi7030@gmail.com" alt="Email" target="_blank"
      ><img
        src="../../assets/envelope-square.svg"
        alt="Email"
        height="30px"
        width="30px"
    /></a>
  </div>
</div>
