<div class="container cont-1">
  <div class="row center heading">
    <p class="name">Notable Talks and Seminars</p>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Smart Task Board</h5>
      <p class="card-text">
        This talk is about the outcomes of developing a completely
        web-accessible modern task management board accessible to any disabled
        person
      </p>
      <p class="card-subtext">
        Delivered at the 5th International Conference on Emerging Smart
        Computing & Informatics (ESCI), 2023 an IEEE conference
      </p>
    </div>
    <div class="upright">
      <a
        href="https://docs.google.com/presentation/d/1f8BZgqkzSTviQqWQfpQFDiD7iqOX3HgxPCJ789-lpw0/edit?usp=sharing"
        class="slides"
        target="_blank"
        >Slides</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Internship Experience Sharing Session</h5>
      <p class="card-text">
        This presentation focuses on the steps to get desired bachelor's project
        sponsorship
      </p>
      <p class="card-subtext">
        Delivered to 3rd and 4th-year undergrads at Pune Institute of Computer
        Technology
      </p>
    </div>
    <div class="upright">
      <a
        href="https://docs.google.com/presentation/d/16Fwy_CHL_VltLnc-lwJc3SKd4LHQhtj7fVfL60mg1lg/edit?usp=sharing"
        class="slides"
        target="_blank"
        >Slides</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Web Accessibility</h5>
      <p class="card-text">
        This talk is about adding Web Accessibility to any website from scratch
        using the WCAG (Web Content Accessibility Guidelines)
      </p>
      <p class="card-subtext">Delivered to colleagues at DeepIntent Inc.</p>
    </div>
    <div class="upright">
      <a
        href="https://docs.google.com/presentation/d/1W6DecxWcFq8gVOAqpXf-XCLW50XIG1oyRiyFa7IIOT4/edit?usp=sharing"
        class="slides"
        target="_blank"
        >Slides</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Drag and Drop Operation in React</h5>
      <p class="card-text">
        This talk is about implementing smooth drag-and-drop operations in react
        applications. It also provides a comparison and internal working of 2
        well-known libraries react-beautiful-dnd and react-dnd.
      </p>
      <p class="card-subtext">Delivered to colleagues at DeepIntent Inc.</p>
    </div>
    <div class="upright">
      <a
        href="https://docs.google.com/presentation/d/1SK051YQsxAcNDTE0p7MG41ii10Fu8jH002okaf20tg4/edit?usp=sharing"
        class="slides"
        target="_blank"
        >Slides</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Machine Learning in the Agriculture Sector</h5>
      <p class="card-text">
        This talk focuses on providing ML-based solutions in the Agriculture
        sector to improve the overall crop yield
      </p>
      <p class="card-subtext">Delivered at Nvidia, Pune office</p>
    </div>
    <div class="upright">
      <a
        href="https://docs.google.com/presentation/d/1PAx02BpC8q1q34y8YbFPAl1bwU_kI2ek0j81dICyxSk/edit?usp=sharing"
        class="slides"
        target="_blank"
        >Slides</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Demand Forecast Estimation for an electric steel plant
      </h5>
      <p class="card-text">
        This presentation depicts the outcomes of my bachelor's project
        sponsored by SMS Digital GmBH
      </p>
      <p class="card-subtext">
        Delivered at SMS Digital GmBH, Dusseldorf office and PICT
      </p>
    </div>
    <div class="upright">
      <a
        href="https://docs.google.com/presentation/d/1bimSj47NpDEmilNSytIt9MGZ1RbXJFzgyndkTfYqA08/edit?usp=sharing"
        class="slides"
        target="_blank"
        >Slides</a
      >
    </div>
  </div>
</div>
