<div class="container">
  <div class="center left-container">
    <img
      src="assets/presonal-image.png"
      height="400px"
      width="400px"
      class="img-fluid"
      alt="Personal Image"
    />
    <button (click)="onDownloadResume()">Download Resume</button>
  </div>

  <div class="right-container">
    <p class="name">Shantanu Joshi</p>
    <p class="description">
      I'm an innovative Software Developer with 3 years of professional
      experience, continuously looking to expand my skills and expertise. I'm
      passionate about solving complex technical challenges. Do check out my
      noteworthy projects and Open Source contributions on
      <a href="https://github.com/shan7030" target="_blank" class="github-link">
        GitHub</a
      >.
    </p>
    <p class="interest-header">Interests</p>
    <ul>
      <li><span class="interest-item">System Design</span></li>
      <li>
        <span class="interest-item">Software Development and Engineering</span>
      </li>
      <li><span class="interest-item">Programming Languages</span></li>
      <li><span class="interest-item">Machine Learning</span></li>
      <li>
        <span class="interest-item">Human-Computer Interaction (HCI)</span>
      </li>
      <li><span class="interest-item">Deep Learning</span></li>
      <li><span class="interest-item">Databases</span></li>
      <li>
        <span class="interest-item">Natural Language Processing (NLP)</span>
      </li>
      <li><span class="interest-item">Data Structures and Algorithms</span></li>
    </ul>
  </div>
</div>
