<div class="container cont-1">
  <div class="row center heading">
    <p class="name">Research Papers and Projects</p>
  </div>

  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top"
        src="assets/smart-task-board.png"
        alt="Collect Chunk"
      />
      <div class="card-body">
        <h5 class="card-title">Smart Task Board</h5>
        <ul>
          <li class="card-text">
            Researched creating a completely web-accessible modern task
            management board accessible to any disabled person under the
            guidance of Prof. P.P.Joshi
          </li>
          <li class="card-text">
            Find research paper on IEEE Xplore (DOI):
            <a href="https://doi.org/10.1109/ESCI56872.2023.10100154"
              >10.1109/ESCI56872.2023.10100154
            </a>
          </li>
          <li class="card-text">
            Used accessibility measures like screen readers, eye tracking,
            audio-command support and keyboard support to develop evolved
            traditional task boards
          </li>
          <li class="card-text text-special-mention">
            Published research paper in 5th International Conference on Emerging
            Smart Computing & Informatics (ESCI), 2023 an IEEE conference
          </li>
        </ul>
      </div>

      <div class="card-footer">
        <small class="text-muted">
          Web accessibility, Task management, Screen readers, Eye tracking,
          WebGazer, Javascript, Computer vision, Machine learning, Regression
        </small>
      </div>
    </div>

    <div class="card">
      <img
        class="card-img-top"
        src="assets/Collectchunk.png"
        alt="Collect Chunk"
      />
      <div class="card-body">
        <h5 class="card-title">Collect Chunk</h5>
        <ul>
          <li class="card-text">
            Implemented an Android and Web Application to create a flow of waste
            picking between citizens and the government
          </li>
          <li class="card-text">
            Citizens can report the precise location of the waste in return for
            rewards and coupons. Etruckers can visit the nearest reported
            location to pick up the waste.
          </li>
          <li class="card-text text-special-mention">
            Selected among the top 10 impactful projects from 3850 submissions
            in Pune Smart City Hackathon, 2018 organized by HackerEarth, SPPU in
            “Solid Waste Management Theme”
          </li>
        </ul>
      </div>

      <div class="card-footer">
        <small class="text-muted">
          Angular, Typescript, Javascript, Java, Android, MongoDB, Firebase,
          Google Maps API, Node.js, Express, mongoose, Shortest path algorithms
        </small>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="assets/AgriHelper.png"
        alt="Collect Chunk"
      />
      <div class="card-body">
        <h5 class="card-title">AgriHelper</h5>
        <ul>
          <p class="card-text">
            Developed 3 step algorithm to detect the ideal crop to be sown and
            also predict its yield:
          </p>
          <li class="card-text">
            Step 1: Detect the ideal crop to be sown based on soil parameters
            and climatic conditions using Classification algorithms
          </li>
          <li class="card-text">
            Step 2: Predicts the yield using regression algorithms
          </li>

          <li class="card-text">
            Step 3: Detect disease and its category using the CNN algorithm on
            image data
          </li>

          <li class="card-text text-special-mention">
            Outcomes were presented at Nvidia, Pune office under the guidance of
            Prof. Mane
          </li>
        </ul>
      </div>

      <div class="card-footer">
        <small class="text-muted">
          Support Vector Machines, Linear Regression, K-Nearest Neighbors,
          Decision Tree, Random Forest, Neural Network, CNN
        </small>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top"
        src="assets/marathi-text-summarizer.png"
        alt="Collect Chunk"
      />
      <div class="card-body">
        <h5 class="card-title">Marathi Text Summarizer</h5>
        <ul>
          <li class="card-text">
            Led a team to develop an extractive text summarizer for the local
            language "Marathi" based on 450 political news articles
          </li>
          <li class="card-text">
            Upon comparing the results with human summaries, based on the Rouge
            metric we obtained very high accuracy and integrated it into an
            Android application
          </li>
        </ul>
      </div>

      <div class="card-footer">
        <small class="text-muted">
          Natural Language Processing, Extractive Text Summarizer, Python,
          Android Application, Java, Rouge, tokenization, stop word removal,
          rule-based stemmer
        </small>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="assets/Ayushman_Odisha.png"
        alt="Ayushman Odisha"
      />
      <div class="card-body">
        <h5 class="card-title">Ayushman Odisha</h5>
        <ul>
          <li class="card-text">
            Developed web and android applications to notify citizens of the
            location of campaigns setup by the government
          </li>
          <li class="card-text">
            Analyzed the data using various ML Algorithm for finding the
            location of setting the camp for a particular disease based on
            patient data
          </li>
          <li class="card-text text-special-mention">
            Shortlisted among top 8 in 4050 projects for Smart Odisha Hackathon,
            2018 organized by HackerEarth, BPUT in the "Healthcare domain"
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted"
          >Android, Angular, Typescript, Google Charts, Javascript, PostgreSQL,
          Node.js, Express, sequelize, node-postgres, Classification Algorithms
        </small>
      </div>
    </div>

    <div class="card">
      <img
        class="card-img-top"
        src="assets/Voicebot.png"
        alt="Voice Bot speaking"
      />
      <div class="card-body">
        <h5 class="card-title">Voice Bot speaking</h5>
        <ul>
          <li class="card-text">
            Led a team of 6 to develop a rule-based voice bot in the local
            language Marathi for disabled people
          </li>
          <li class="card-text">
            This algorithm was later used as a module for integration in the
            main application of NCORD
          </li>
          <li class="card-text text-special-mention">
            The application was shortlisted in the top 4 teams among 1850
            submissions in Smart India Hackathon (National Level Hackathon) 2019
            for the NCORD organization
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted"
          >Android, Java, Google voice-to-text API, Droid API, Dialogflow, XML,
          Firebase cloud store, Firebase storage</small
        >
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top"
        src="assets/code-opener-cli.png"
        height="150"
        width="100"
        alt="Collect Chunk"
      />
      <div class="card-body">
        <h5 class="card-title">Code opener CLI</h5>
        <ul>
          <li class="card-text">
            Build a command line interface tool to add any project as a favorite
            and open it from anywhere using just one command.
          </li>
          <li class="card-text">
            Just use copen add to add and copen open `project_name` to open. See
            commands to get an idea of more things supported by Code Opener CLI
          </li>
          <li class="card-text text-special-mention">
            This package has 1500 downloads and counting
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          Typer, Python 3.6, JSON, Pytest, Pip, Poetry
        </small>
      </div>
    </div>

    <div class="card">
      <img
        class="card-img-top"
        src="assets/docter-patient.png"
        height="150"
        width="100"
        alt="Collect Chunk"
      />
      <div class="card-body">
        <h5 class="card-title">Doctor Patient Pill Reminder App</h5>
        <ul>
          <li class="card-text">
            Build an Android App for smooth communication between Doctors and
            Patients.
          </li>
          <li class="card-text">
            The Doctor can give online Prescriptions to patients and then
            patients can set reminders according to the prescription given by
            the Doctor
          </li>
          <li class="card-text text-special-mention">
            My first Android application as a midterm project for OOP coursework
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          Android, Firebase Realtime DB, Firebase storage, User authentication
          and authorization
        </small>
      </div>
    </div>

    <div class="card">
      <img
        class="card-img-top"
        src="assets/pulzion.png"
        height="150"
        width="100"
        alt="Collect Chunk"
      />
      <div class="card-body">
        <h5 class="card-title">Space Ticket Booking Center</h5>
        <ul>
          <li class="card-text">
            Developed a web application to book tickets for visiting Mars
          </li>
          <li class="card-text">
            Added complete flow to create an account, reset the password, book a
            ticket and receive necessary updates through emails
          </li>
          <li class="card-text text-special-mention">
            Ranked among the top 5 projects in Pulzion Competition 2018
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          Bootstrap 4, HTML5, CSS, Firebase Realtime DB, JQuery, Javascript
        </small>
      </div>
    </div>
  </div>

  <div class="center">
    <a href="https://github.com/shan7030?tab=repositories" target="_onload"
      ><button>View More projects</button></a
    >
  </div>
</div>
