<div class="container cont-1">
  <div class="row center heading">
    <p class="name">Articles</p>
  </div>

  <a
    class="card"
    target="_onload"
    href="https://www.geeksforgeeks.org/firebase-realtime-database-with-operations-in-android-with-examples/"
  >
    <div class="card-body">
      <h5 class="card-title">Firebase RealTime Database Operations 🚀</h5>
      <p class="card-text">
        Understanding Firebase RealTime Database Operations in Android with
        Examples
      </p>
    </div>
    <div class="bottomright">
      <img
        src="../../assets/chevron-right-solid.svg"
        height="15px"
        width="15px"
      />
    </div>
  </a>

  <a
    class="card"
    target="_onload"
    href="https://www.geeksforgeeks.org/creating-a-rest-api-backend-using-node-js-express-and-postgres/"
  >
    <div class="card-body">
      <h5 class="card-title">
        Introduction to Backend Development using Node.js, Express and Postgres
        🛰️
      </h5>
      <p class="card-text">
        Creating REST API's with Node.js, Express and Postgres
      </p>
    </div>
    <div class="bottomright">
      <img
        src="../../assets/chevron-right-solid.svg"
        height="15px"
        width="15px"
      />
    </div>
  </a>

  <a
    class="card"
    target="_onload"
    href="https://www.geeksforgeeks.org/crud-operations-on-postgres-using-async-database-in-python/"
  >
    <div class="card-body">
      <h5 class="card-title">Async Databases Operations Python 👨‍💻</h5>
      <p class="card-text">
        CRUD Operations on Postgres using Async Database In Python
      </p>
    </div>
    <div class="bottomright">
      <img
        src="../../assets/chevron-right-solid.svg"
        height="15px"
        width="15px"
      />
    </div>
  </a>

  <a
    class="card"
    target="_onload"
    href="https://github.com/shan7030/angular-app-github-pages-example"
  >
    <div class="card-body">
      <h5 class="card-title">Angular App deployment using Github Pages 🌌</h5>
      <p class="card-text">
        Steps to deploy any angular app using GitHub pages
      </p>
    </div>
    <div class="bottomright">
      <img
        src="../../assets/chevron-right-solid.svg"
        height="15px"
        width="15px"
      />
    </div>
  </a>

  <a
    class="card"
    target="_onload"
    href="https://www.geeksforgeeks.org/adding-angular-material-component-to-angular-application/"
  >
    <div class="card-body">
      <h5 class="card-title">Angular Material Components 🔭</h5>
      <p class="card-text">
        Adding Angular Material Component to Angular Application
      </p>
    </div>
    <div class="bottomright">
      <img
        src="../../assets/chevron-right-solid.svg"
        height="15px"
        width="15px"
      />
    </div>
  </a>

  <div class="center">
    <a
      href="https://auth.geeksforgeeks.org/user/shjos/articles"
      target="_onload"
      ><button>View More articles</button></a
    >
  </div>
</div>
